.orders{
  text-align: center;
  overflow-x:auto;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}
.orders table, th{
  border-collapse: unset;
  border: 0.5px solid black;
  border-radius: 5px;
  margin: auto;
}
.orders th {
  color: black;
  background: #c0c0c0339717;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.orders th, td{
  padding: 10px;
 
}

.orders td {
	text-align: left;
}



