@charset "ISO-8859-1";
/* The styles for the elements */
.registrationContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	margin: auto;
	width: 400px;
	margin-top: 2%;
	margin-bottom: 2%;
}

label {
	float: left;
	width: 7em;
	margin-bottom: 0.5em;
	font-weight: bold;
}



br {
	clear: both;
}

.add-product {
	text-align: center;
}

.pad_top_add {
	padding-top: 0.25em;
	font-size: 16px;
	font-weight: 400;
	padding-left: 27px;
	width: auto;
}

.pad_top {
	padding-top: 0.25em;
	padding-left: 27px;
	font-size: 16px;
	font-weight: 400;
	width: auto;
}

.margin_left {
	margin-left: 0.5em;
	padding: 10px 70px;
	border-radius: 2px;
	color: #fff;
	border: none;
	background-color: rgb(0, 115, 166);
	cursor: pointer;
}

.margin_left_sign {
	padding: 10px 70px;
    border-radius: 2px;
    color: #fff;
    border: none;
    background-color: #3071a9;
    cursor: pointer;
    width: 86%;
    font-size: 16px;
    font-weight: 700;
}

.forgot {
	font-size: 16px;
	width: 86%;
	
}

.line {
	width: 86%;
}
.margin_left_register {
	padding: 10px 70px;
    border-radius: 2px;
    color: #fff;
    border: none;
    background-color: #3071a9;
    cursor: pointer;
    width: 86%;
    font-size: 16px;
    font-weight: 700;
}

.margin_left_signin {
	
	padding: 10px 70px;
	border-radius: 2px;
	color: #0060a9;
	border: none;
	font-size: 16px;
	cursor: pointer;
	width: 86%;
	font-weight: 700;
}

.margin_left_addproduct {
	padding: 10px 70px;
	border-radius: 2px;
	color: #0060a9;
	border: none;
	font-size: 16px;
	cursor: pointer;
	width: 86%;
	font-weight: 700;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: left;
}

#registration {
	text-align: center;
	border: 1px solid transparent;
	border-color: #ddd;
	border-radius: 0;
}

h1 {
	margin-bottom: .5em;
}

h2 p {
	margin-bottom: .5em;
}

form input:invalid {
	border-color: #9c9c9c;
	border-width: 1.2px;
	padding: 10px 12px;
	width: 86%;
	font-size: 16px;
}

form input:hover {
	border-color: lightblue;
}

form input[type="text"]:valid, input[type="email"]:valid, input[type="password"]:valid
	{
	border-color: lightblue;
	border-width: 1.2px;
	padding: 10px 12px;
	width: 86%;
	font-size: 16px;
}

.message {
	color: red;
	font-weight: bold;
}

.terms {
	width:86%;
	text-align: left;
	padding-left: 27px;
}

.already {
	font-size: 16px;
	
}

/* The container */
.container_yes {
	display: block;
	position: relative;
	padding-top: 0.25em;
	padding-left: 55px;
	font-weight: 400;
	width: auto;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 85%;
	text-align: left;
	
}

/* Hide the browser's default checkbox */
.container_yes input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 20px;
	background-color: #eee;
	margin-left: 2em;
}

/* On mouse-over, add a grey background color */
.container_yes:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_yes input:checked ~ .checkmark {
	background-color: #3071a9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container_yes input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container_yes .checkmark:after {
	left: 6px;
	top: 5px;
	width: 8px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}