<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles/ContactUsStyle.css">
  </head>
  <body>
    <div class="ContactUs">
      <div class="title">
        <h1 class="con"><b>Contact Us</b></h1>
        <h5 class="welcome">Welcome to BossCo Customer Service.</h5>
        
      </div>
      <div>
      <span style="color:#0060a9;">
      <i>For your security</i>
      , we are unable to process any membership fee credit card transactions via this.
      </span>
      </div>
      <form class="" action="index.html" method="post">
      	<h4><b>Full Name</b><span class="required">&nbsp;*</span></h4>
        <input type="text" name="" value="" placeholder="" ><br>
        <h4><b>Email Address</b><span class="required">&nbsp;*</span></h4>
        <input type="text" name="" value="" placeholder=""><br>
        <h4><b>Enter Your Message Below</b><span class="required">&nbsp;*</span></h4>
        <h6>Please provide the details to help answer your questions quickly and accurately.</h6>
        <textarea name="name" rows="8" cols="80" placeholder=""></textarea><br>
        <button type="button" class="bu">Submit</button>
        <br>
      </form>
    </div>
  </body>
</html>

