<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles/ContactUsStyle.css">
  </head>
  <body>
    <div class="ContactUs">
      <div class="title">
        <h1 class="con"><b>Contact Us</b></h1>
      </div>
      <form class="" action="index.html" method="post">
      	<h4>Full Name</h4>
        <input type="text" name="" value="" placeholder="" ><br>
        <h4>Email Address</h4>
        <input type="text" name="" value="" placeholder=""><br>
        <h4>Enter Your Message Below</h4>
        <h6>Please provide the details to help answer your questions quickly and accurately.</h6>
        <textarea name="name" rows="8" cols="80" placeholder=""></textarea><br>
        <button type="button" name="button">Submit</button>
        <br>
      </form>
    </div>
  </body>
</html>

